<h2>生成された画像の確認</h2>
<div>
  <%= image_tag @twitter_post.picture, width: '315' %>
</div>

<h2>Step 3</h2>
<a href="https://twitter.com/share?url=https://serifoo.herokuapp.com/twitter_posts/<%= @twitter_post.id %>&hashtags=serifoo" target="_blank" class="square_btn" data-show-count="false">Twitter投稿へ</a>

<!-- ここから追加する -->
<div>
  <%= link_to "画像編集へ戻る", edit_twitter_post_path(@twitter_post) %>
</div>
<!-- ここまで追加する -->

<div>
  <%= link_to "トップページへ", root_path %>
</div>

<div>
  <%= link_to "トップページへ", root_path %>
</div>

