<p id="notice"><%= notice %></p>

<h1>Twitter Posts</h1>

<div class="twitter-card">
    <div class="twitter-card-picture-frame">
      <% @twitter_posts.each do |twitter_post| %>
        <%= twitter_post.content %>
        <%= image_tag twitter_post.picture %>
        <%= twitter_post.kind %>
        <%= link_to 'Show', twitter_post %>
        <%= link_to 'Edit', edit_twitter_post_path(twitter_post) %>
        <%= link_to 'Destroy', twitter_post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </tr>
      <% end %>
    </div>
</div>

<br>

<%= link_to 'New Twitter Post', new_twitter_post_path %>
